html,
body,
#app {
  height: 100vh;
}

.main-page {
  max-width: calc(100% - 270px);
  width: 100%;
}

.gradient {
  &-1 {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59) !important;
  }
  &-2 {
    background: linear-gradient(to right, #659999, #f4791f) !important;
  }
  &-3 {
    background: linear-gradient(to right, #8360c3, #2ebf91) !important;
  }
  &-4 {
    background: linear-gradient(to right, #8a2387, #e94057, #f27121) !important;
  }
  &-5 {
    background: linear-gradient(to right, #fdc830, #f37335) !important;
  }
  &-6 {
    background: linear-gradient(to right, #00b4db, #0083b0) !important;
  }
  &-7 {
    background: linear-gradient(to right, #59c173, #a17fe0, #5d26c1) !important;
  }
  &-8 {
    background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84) !important;
  }
}

.edit-dialog {
  .el-dialog__body {
    padding-top: 0;
  }
}

.el-notification__content {
  text-align: left;
}
